@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <a asp-action="LoginUser" asp-controller="user" class="btn btn-primary">Login</a>
        <a asp-action="RegisterUser" asp-controller="user" class="btn btn-secondary">Register</a>
    </p>
</div>
